<div id="header">
	<nav class="navbar navbar-default navbar-static-top" role="navigation">	 
		<div class="container">	

			<div class="navbar-header">
				<!--button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-element" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button-->
				{% if page.categories.first != 'home' %}					
				<a class="navbar-brand" href="{{ site.baseurl }}/">Taming the BEAST</a>
				<object class="logo navbar-brand" data="{{ site.baseurl }}/images/logo_bw.svg" type="image/svg+xml"></object>
				{% endif %}
			</div>

			<div class="collapse navbar-collapse" id="navbar-collapse-element">
				<ul class="nav navbar-nav navbar-right">					
					{% if page.categories.first == 'news' %}
					<li class="active">
					{% else %}
					<li>
					{% endif %}
					<a href="{{ site.baseurl }}/news/">news</a>
					</li>
					{% if page.categories.first == 'tutorials' %}
					<li class="active">
					{% else %}
					<li>
					{% endif %}
					<a href="{{ site.baseurl }}/tutorials/">tutorials</a></li>	    	  
					{% if page.categories.first == 'about' %}
					<li class="active">
					{% else %}
					<li>
					{% endif %}
					<a href="{{ site.baseurl }}/about/">about</a></li>	    	  
				</ul>
			</div>
			
		</div>
	</nav>	
</div>